*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  height: 100%;
}

body {
  height: 100%;
}


button {
  font-size: 16px;
  height: 46px;
  padding: 0 15px;
  text-align: center;
  border: 1px solid darkgreen;
  background-color: lightgreen;
}

button:hover:enabled {
  filter: brightness(80%)
}

button:active:enabled {
  filter: brightness(40%)
}
