*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #333;
  color: #c9d6df;
}

.input-bar-flex {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.input-bar-flex:first-child {
  padding-bottom: 10px;
}

.input-title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0.4em;
}

